<launch>
    <node
        pkg="swarm"
        type="RobotNode.py"
        name="robot_node_1"
        respawn="true"
    />

    <node
        pkg="swarm"
        type="RobotController.py"
        name="robot_controller_1"
        respawn="true"
    />

    <node
        pkg="swarm"
        type="LocalSensorData.py"
        name="local_data_1"
        respawn="true"
    />
    
    <node
        pkg="swarm"
        type="ObstacleAvoidance.py"
        name="robot_avoidance_1"
        respawn="true"
    />

    <node
        pkg="swarm"
        type="GoalPSO.py"
        name="goal_pso_node_1"
        respawn="true"
    />

</launch>
