<launch>
    <node
        pkg="swarm"
        type="RobotNode.py"
        name="robot_node"
        respawn="true"
    />

    <node
        pkg="swarm"
        type="RobotController.py"
        name="robot_controller"
        respawn="true"
    />

    <node
        pkg="swarm"
        type="LocalSensorData.py"
        name="local_data"
        respawn="true"
    />
    
    <node
        pkg="swarm"
        type="ObstacleAvoidance.py"
        name="robot_avoidance"
        respawn="true"
    />

    <node
        pkg="swarm"
        type="GoalPSO.py"
        name="goal_pso_node"
        respawn="true"
    />

</launch>
